.weui_tabbar
   a.weui_tabbar_item(href='javascript:;')
      .weui_tabbar_icon
         span.icon-truck
      p.weui_tabbar_label 进出货
   a.weui_tabbar_item#index(href='/')
      .weui_tabbar_icon
         span.icon-home
      p.weui_tabbar_label 首页
   a.weui_tabbar_item#admin(href='/agents/add')
      .weui_tabbar_icon
         span.icon-cog
      p.weui_tabbar_label 管理
   a.weui_tabbar_item(href='javascript:;')
      .weui_tabbar_icon
         span.icon-pie-chart
      p.weui_tabbar_label 统计
