doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title= title
    //-  引入公共文件
    include ../../includes/head
  body(ontouchstart="")
    include ../../includes/header
    .container
      a.weui_btn.weui_btn_primary(href='pingan' style='margin-top:48px;') 平安银行微信公众号版
  script.
    $(function () {
    })
