doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title= title
    //-  引入公共文件
    include ../../includes/head
    link(rel='stylesheet', href='/css/bank.css')
  body(ontouchstart="")
    include ../../includes/header
    .container(style='padding-top:0;')
      a.weui_btn.weui_btn_primary(href='ny' style='margin-top:58px;') 农业银行APP版--付款
      a.weui_btn.weui_btn_primary(href='nyl') 农业银行APP版--交易列表
      a.weui_btn.weui_btn_primary(href='gs') 工商银行APP版
      a.weui_btn.weui_btn_primary(href='gf') 广发银行APP版
      a.weui_btn.weui_btn_primary(href='pa') 平安银行微信公众号版
      //- a.weui_btn.weui_btn_primary(href='js') 建设银行APP版
  script.
    $(function () {
    })
