doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title= title
    //-  引入公共文件
    include ../../includes/head
    link(rel='stylesheet', href='/css/bank.css')
  body(ontouchstart="", style='background-color:#F0F0F0;')
    .container(style='margin-bottom:30px;')
      img.title-img(src='/img/bank/gf-title.png')
      div.gf-content
        div.page 第1/1页，共1条符合条件的记录。
        ul
          li 账户
            span#zh.pull-right(contenteditable="true") 6214****1234
        ul.list
          li 交易日期
            span#date.pull-right(contenteditable="true") &nbsp;&nbsp;&nbsp;&nbsp;2016-09-29
          li 币种
            span.pull-right 人民币
          li
            span#income 收入
            span#sr.gf-in-font.pull-right(contenteditable="true") 1,000.00
          li
            span#expend 支出
            span#zc.gf-out-font.pull-right(contenteditable="true") 1,000.00
          li 交易渠道
            span#inqd.pull-right 网上支付跨行清算系统
            span#outqd.pull-right 客户端手机银行渠道
          li 交易说明
            span#inwy.pull-right 网银入账
            span#outwy.pull-right 网银扣款
          li 对方户名
            span#dfhm.pull-right(contenteditable="true") 张三
          li 对方账号
            span#dfzh.pull-right(contenteditable="true") 6214850285261234
        div.page 第1/1页，共1条符合条件的记录。
        img.bottom-img(src='/img/bank/gf-bottom.png')
  script.
    $(function () {
      //如果localStorage中存在数据则使用localStorage中的数据，否则将数据写入localStorage---start
      if (window.localStorage.gfzh) {
        $('#zh').html(window.localStorage.gfzh);
      } else {
        window.localStorage.gfzh = $('#zh').html();
      }
      if (window.localStorage.gfsr) {
        $('#sr').html(window.localStorage.gfsr);
      } else {
        window.localStorage.gfsr = $('#sr').html();
      }
      if (window.localStorage.gfzc) {
        $('#zc').html(window.localStorage.gfzc);
      } else {
        window.localStorage.gfzc = $('#zc').html();
      }
      if (window.localStorage.gfdfhm) {
        $('#dfhm').html(window.localStorage.gfdfhm);
      } else {
        window.localStorage.gfdfhm = $('#dfhm').html();
      }
      if (window.localStorage.gfdfzh) {
        $('#dfzh').html(window.localStorage.gfdfzh);
      } else {
        window.localStorage.gfdfzh = $('#dfzh').html();
      }
      //如果localStorage中存在数据则使用localStorage中的数据，否则将数据写入localStorage---end
      // 修改数据时，失焦后存入localStorage--start
      $('#zh').blur(function () {
        window.localStorage.gfzh = $(this).html();
      });
      $('#sr').blur(function () {
        var num = $(this).html();
        if(num.indexOf(',')>=0){
          num = numFormat2(num);
          $(this).html(num);
          window.localStorage.gfsr = $(this).html();
        }else {
          num = parseFloat(num);
          if (isNaN(num)) {
            alert('您的输入有误！')
          } else {
            num = formatNum(num);
            $(this).html(num);
            window.localStorage.gfsr = $(this).html();
          }
        }
      });
      $('#zc').blur(function () {
        var num = $(this).html();
        if(num.indexOf(',')>=0){
          num = numFormat2(num);
          $(this).html(num);
          window.localStorage.gfzc = $(this).html();
        }else {
          num = parseFloat(num);
          if (isNaN(num)) {
            alert('您的输入有误！')
          } else {
            num = formatNum(num);
            $(this).html(num);
            window.localStorage.gfzc = $(this).html();
          }
        }
      });
      $('#dfhm').blur(function () {
        window.localStorage.gfdfhm = $(this).html();
      });
      $('#dfzh').blur(function () {
        window.localStorage.gfdfzh = $(this).html();
      });
      // 修改数据时，失焦后存入localStorage--end
      $('#date').html(show());
      $('#expend').hide();
      $('#zc').hide();
      $('#outqd').hide();
      $('#outwy').hide();
      $('#expend').click(function(){
        $(this).hide();
        $('#zc').hide();
        $('#outqd').hide();
        $('#outwy').hide();
        $('#income').show();
        $('#sr').show();
        $('#inqd').show();
        $('#inwy').show();
      });
      $('#income').click(function () {
        $(this).hide();
        $('#sr').hide();
        $('#inqd').hide();
        $('#inwy').hide();
        $('#expend').show();
        $('#zc').show();
        $('#outqd').show();
        $('#outwy').show();
      });
      function show(){
        var mydate = new Date();
        var year = mydate.getFullYear();
        var month = mydate.getMonth()+1;
        var day = mydate.getDate() ;
        month = month>=10?month:'0'+month;
        day = day>=10?day:'0'+day;
        var str = "&nbsp;&nbsp;&nbsp;&nbsp;" + year + "-" + month + '-' + day;
        return str;
      }
      function numFormat(num){
        num = parseFloat(num.toFixed(2)).toLocaleString();
        var aNum = num.split('.');
        if(aNum.length<=1){
          num += '.00';
        }else{
          if (aNum[1].length == 0) {
            num += '00';
          }
          if(aNum[1].length==1){
            num += '0';
          }
        }
        return num;
      }

      function numFormat2(num) {
        var aNum = num.split('.');
        if (aNum.length <= 1) {
          num += '.00';
        } else {
          if (aNum[1].length == 0) {
            num += '00';
          }
          if (aNum[1].length == 1) {
            num += '0';
          }
        }
        return num;
      }
      function formatNum(str) {
        str += '';
        var newStr = "";
        var count = 0;
        if (str.indexOf(".") == -1) {
          for (var i = str.length - 1; i >= 0; i--) {
            if (count % 3 == 0 && count != 0) {
              newStr = str.charAt(i) + "," + newStr;
            } else {
              newStr = str.charAt(i) + newStr;
            }
            count++;
          }
          str = newStr + ".00"; //自动补小数点后两位
          console.log(str)
        }
        else {
          for (var i = str.indexOf(".") - 1; i >= 0; i--) {
            if (count % 3 == 0 && count != 0) {
              newStr = str.charAt(i) + "," + newStr;
            } else {
              newStr = str.charAt(i) + newStr; //逐个字符相接起来
            }
            count++;
          }
          str = newStr + (str + "00").substr((str + "00").indexOf("."), 3);
          console.log(str)
        }
        return str;
      }
    })
