doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title= title
    //-  引入公共文件
    include ../../includes/head
    link(rel='stylesheet', href='/css/bank.css')
  body(ontouchstart="",style='background-color:#f7f3f7;')
    .container
      img.title-img(src='/img/bank/ny-title.jpg')
      div.ny-content
        ul
          li 付款账户：
            span#fkzh(contenteditable="true") 6228****1234&nbsp;&nbsp;&nbsp;&nbsp;
          li 收款账户：
            span#skzh(contenteditable="true") 6222****1234&nbsp;&nbsp;&nbsp;&nbsp;
          li 收款人：
            span#skr(contenteditable="true",style='margin-left:13px;') 张三&nbsp;&nbsp;&nbsp;&nbsp;
          li 收款银行：
            span#skyh(contenteditable="true") 平安银行&nbsp;&nbsp;&nbsp;&nbsp;
          li 转账金额：
            span#zzje.ny-color-money(contenteditable="true") 1,000.00元&nbsp;&nbsp;&nbsp;&nbsp;
        p 您的资金已汇出，实际到账时间取决于收款行系统
        div.buttons
          button.button-gray 继续转账
          button 完成
  script.
    $(function () {
      //如果localStorage中存在数据则使用localStorage中的数据，否则将数据写入localStorage---start
      if (window.localStorage.nyfkzh) {
        $('#fkzh').html(window.localStorage.nyfkzh);
      } else {
        window.localStorage.nyfkzh = $('#fkzh').html();
      }
      if (window.localStorage.nyskzh) {
        $('#skzh').html(window.localStorage.nyskzh);
      } else {
        window.localStorage.nyskzh = $('#skzh').html();
      }
      if (window.localStorage.nyskr) {
        $('#skr').html(window.localStorage.nyskr);
      } else {
        window.localStorage.nyskr = $('#skr').html();
      }
      if (window.localStorage.nyskyh) {
        $('#skyh').html(window.localStorage.nyskyh);
      } else {
        window.localStorage.nyskyh = $('#skyh').html();
      }
      if (window.localStorage.nyzzje) {
        $('#zzje').html(window.localStorage.nyzzje);
      } else {
        window.localStorage.gfdfzh = $('#zzje').html();
      }
      //如果localStorage中存在数据则使用localStorage中的数据，否则将数据写入localStorage---end
      // 修改数据时，失焦后存入localStorage--start
      $('#fkzh').blur(function () {
        window.localStorage.nyfkzh = $(this).html();
      });
      $('#skzh').blur(function () {
        window.localStorage.nyskzh = $(this).html();
      });
      $('#skr').blur(function () {
        window.localStorage.nyskr = $(this).html();
      });
      $('#skyh').blur(function () {
        window.localStorage.nyskyh = $(this).html();
      });
      $('#zzje').click(function () {
        var num = prompt("请输入金额如：1000", ""); //将输入的内容赋给变量 name ，
        if (num) {   //如果返回的有内容
          if(num.indexOf(',')>=0){
            num = numFormat2(num);
            $(this).html(num+'元');
            window.localStorage.nyzzje = $(this).html();
          }else{
            num = parseFloat(num);
            if(isNaN(num)){
              alert('您的输入有误！')
            }else{
              num = numFormat(num);
              $(this).html(num+'元');
              window.localStorage.nyzzje = $(this).html();
            }
          }
        }
      });
      function numFormat(num){
        num = parseFloat(num.toFixed(2)).toLocaleString();
        var aNum = num.split('.');
        if(aNum.length<=1){
          num += '.00';
        }else{
          if (aNum[1].length == 0) {
            num += '00';
          }
          if(aNum[1].length==1){
            num += '0';
          }
        }
        return num;
      }

      function numFormat2(num) {
        var aNum = num.split('.');
        if (aNum.length <= 1) {
          num += '.00';
        } else {
          if (aNum[1].length == 0) {
            num += '00';
          }
          if (aNum[1].length == 1) {
            num += '0';
          }
        }
        return num;
      }
      // 修改数据时，失焦后存入localStorage--end
    })
