doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title= title
    //-  引入公共文件
    include ../../includes/head
    link(rel='stylesheet', href='/css/bank.css')
  body(ontouchstart="",style='background-color:#f7f3f7;')
    .container
      img.title-img(src='/img/bank/ny-title.jpg')
      div.ny-content
        ul
          li 付款账户：
            span(contenteditable="true") 6228****1234&nbsp;&nbsp;&nbsp;&nbsp;
          li 收款账户：
            span(contenteditable="true") 6222****1234&nbsp;&nbsp;&nbsp;&nbsp;
          li 收款人：
            span(contenteditable="true",style='margin-left:13px;') 张三&nbsp;&nbsp;&nbsp;&nbsp;
          li 收款银行：
            span(contenteditable="true") 平安银行&nbsp;&nbsp;&nbsp;&nbsp;
          li 转账金额：
            span.ny-color-money(contenteditable="true") 1,000.00元&nbsp;&nbsp;&nbsp;&nbsp;
        p 您的资金已汇出，实际到账时间取决于收款行系统
        div.buttons
          button.button-gray 继续转账
          button 完成
  script.
    $(function () {
    })
