body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fbf9fe;
}
a {
    color: #09bb07;;
}
.container {
    padding-top: 44px;
    padding-bottom: 80px;
}
.primary-color{
    color: #09bb07;
}
/*字体图标star*/
@font-face {
    font-family: 'tiny';
    src:  url('../fonts/tiny.eot?ui2uo9');
    src:  url('../fonts/tiny.eot?ui2uo9#iefix') format('embedded-opentype'),
    url('../fonts/tiny.ttf?ui2uo9') format('truetype'),
    url('../fonts/tiny.woff?ui2uo9') format('woff'),
    url('../fonts/tiny.svg?ui2uo9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tiny' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-cog:before {
    content: "\e994";
}
.icon-pie-chart:before {
    content: "\e99a";
}
.icon-stats-dots:before {
    content: "\e99b";
}
.icon-truck:before {
    content: "\e9b0";
}
.icon-info:before {
    content: "\ea0c";
}
.icon-blocked:before {
    content: "\ea0e";
}
.icon-cancel-circle:before {
    content: "\ea0d";
}
.icon-cross:before {
    content: "\ea0f";
}
.weui_tabbar {
    position: fixed;
}
.weui_tabbar_item{
    color: #888;
}
.weui_tabbar_label{
    margin-bottom:5px;
}
.icon-active{
    color: #09bb07;
}
.icon-active p{
    color: #09bb07;
}
/*字体图标end*/
/*头部start*/
.weui_navbar{
    background-color: #09bb07;
    color: #ffffff;
    position: fixed;
}
.weui_navbar_item{
    font-size:16px;
    padding:12px 0;
}
.weui_navbar_item:active {
    background-color: #039702;
}
.arrow-left{
    position: absolute;
    left: 30px;
    font-size: 14px;
    top: 14px;
    color: #ffffff;
}
.arrow-left:before{
    content:"";
    width: 10px;
    height: 10px;
    border-top: 1px solid #ffffff;  /* 左边框的宽 */
    border-right: 1px solid #ffffff; /* 右边框的宽 */
    display: inline-block;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    left: -12px;
    top:1px;
}
/*头部end*/
/*底部start*/
.weui_dialog_confirm {
    display: none;
}
.weui_dialog_alert {
    display: none;
}
.weui_toast {
    width: 10.6em;
    margin-left: -5.3em;
}
.weui_icon_toast {
    margin: 11px 0;
}
.weui_icon_toast:before {
    font-size: 50px;
    content: "\ea0c";
}
/*底部end*/
/*anget list start*/
.weui_panel:first-child {
    margin-top: 20px;
}
.weui_media_title span{
    color: #999;
    font-size: 13px;
    margin-left: 8px;
}
.list-add-btn{
    float: right;
    margin-top: -7px;
}
.list-del-btn{
    float: right;
}
.weui_media_box:active{
    background-color: #ededed;
}
.list-mr50{
    margin-right: 50px;
}
/*anget list end*/
/*product list start*/
.weui_media_box{
    border-bottom: 1px solid #e5e5e5;
    margin-left: 15px;
    padding-left: 0;
}
.weui_media_box:before{
    left: 0;
}
.weui_panel_bd:last-of-type .weui_media_box{
    border-bottom: none;
}
/*product list end*/
/*level list start*/
.level-clear-bor-b:after{
    border-bottom: none;
}
/*level list end*/
/*agency start*/
.like-select{
    position: absolute;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    top: 44px;
    right: 0;
    min-width:100px;
    max-height:200px;
    z-index: 99;
    border-radius: 5px;
    overflow-y: scroll;
    display: none;
}
.like-select li{
    list-style: none;
    padding: 4px 6px;
    border-bottom: 1px solid #d9d9d9;
}
.like-select li:active{
    background-color: #d9d9d9;
}
.like-select li:last-child{
    border-bottom: none;
}
/*agency end*/
/*deals start*/
.weui_input{
    text-align: right;
}
/*deals end*/