<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title><meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/libs/weui/dist/style/weui.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
  </head>
  <body ontouchstart="">
    <div class="weui_navbar">
      <div class="weui_navbar_item"><a id="back" href="javascript:history.go(-1);"><span class="arrow-left">返回</span></a></div>
    </div>
    <div class="container">
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell weui_cell_select">
          <div class="weui_cell_bd weui_cell_primary">
            <select name="select1" class="weui_select">
              <option selected="" value="1">请选择产品名称</option>
              <option value="2">奢悦面膜</option>
              <option value="3">奢悦溶脂针</option>
            </select>
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <label class="weui_label">数量</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input type="number" pattern="[0-9]*" placeholder="请输入数量" class="weui_input">
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <label class="weui_label">进货单价</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input type="number" pattern="[0-9]*" placeholder="请输入进货单价" class="weui_input">
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p>按进货单价算得总额</p>
          </div>
          <div class="weui_cell_ft">￥4545</div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <label class="weui_label">实际成交总额</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input type="number" pattern="[0-9]*" placeholder="请输入实际成交总额" class="weui_input">
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <label class="weui_label">已付款</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input type="number" pattern="[0-9]*" placeholder="请输入已付款" class="weui_input">
          </div>
        </div>
      </div>
      <div class="weui_btn_area">
        <button id="showTooltips" class="weui_btn weui_btn_primary">保存</button>
        <button class="weui_btn weui_btn_warn">取消</button>
      </div>
      <script src="/js/dealOut.js" type="text/javascript"></script>
    </div>
  </body>
</html>