extends ../../layout

block content
  .weui_panel.weui_panel_access
    .weui_panel_hd 点击可以查看（编辑）代理详情
    .weui_panel_bd
      .weui_media_box.weui_media_text
        h4.weui_media_title Tiny
          span (奢悦水光针-总代)
        p.weui_media_desc 2016年进入累积进货100万
      .weui_media_box.weui_media_text
        h4.weui_media_title Dearpiggy
          span (奢悦面膜-总代)
        p.weui_media_desc 2014年进入累积进货600万
    a.weui_panel_ft(href='javascript:void(0);') 查看更多
