<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title><meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/libs/weui/dist/style/weui.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
  </head>
  <body ontouchstart="">
    <div class="weui_navbar">
      <div class="weui_navbar_item"><a id="back" href="javascript:history.go(-1);"><span class="arrow-left">返回</span></a></div>
    </div>
    <div class="container">
      <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd">点击可以查看（编辑）代理详情<a href="/agents/add" class="weui_btn weui_btn_mini weui_btn_primary list-add-btn">新增</a></div>
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">Tiny<span>(奢悦水光针-总代)</span></h4>
            <p class="weui_media_desc">2016年进入累积进货100万</p>
          </div>
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">Dearpiggy<span>(奢悦面膜-总代)</span></h4>
            <p class="weui_media_desc">2014年进入累积进货600万</p>
          </div>
        </div><a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
      </div>
      <script src="/js/agent.js" type="text/javascript"></script>
    </div>
  </body>
</html>