doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title #{title || '激活银行账单生成'}
    include ../../includes/head
    link(rel='stylesheet', href='/css/help.css')
  body(ontouchstart="")
    include ../../includes/header
    .container
      h3.hab-title 如何激活银行账单生成功能
      ul.hab-ul
        li
          p 1、进入公众号，点击右上角的白色小人头，如下图：
          img(src='/img/help/quick1.png')
        li
          p 2、首先点击右上角的三点图标菜单，在出现的下拉列表中，点击
           b “添加到桌面”
           | ，添加成功后在手机桌面就可以看到我们的公众号，以后可以通过直接点击桌面上的图标快速进入我们公众号，如下图：
          img(src='/img/help/quick2.png')
        li
          p 3、其他问题，可以咨询我们的客服，客服微信：
            b clicli168_kf
