extends ../layout

block content
  .weui_cells.weui_cells_access
    a.weui_cell(href='javascript:;')
      .weui_cell_bd.weui_cell_primary
        p 产品管理
      .weui_cell_ft
    a.weui_cell(href='javascript:;')
      .weui_cell_bd.weui_cell_primary
        p 代理级别管理
      .weui_cell_ft
    a.weui_cell(href='/agents/list')
      .weui_cell_bd.weui_cell_primary
        p 代理管理
      .weui_cell_ft

  script.
    $(function () {
      $('#manage').addClass('icon-active')
    })
