extends ../layout

block content
  .weui_cells.weui_cells_access
    a.weui_cell(href='javascript:;')
      .weui_cell_bd.weui_cell_primary
        p 进货统计
      .weui_cell_ft
    a.weui_cell(href='javascript:;')
      .weui_cell_bd.weui_cell_primary
        p 出货统计
      .weui_cell_ft

  script.
    $(function () {
      $('#statistics').addClass('icon-active')
    })
